@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стили для react-international-phone */
.react-international-phone-country-selector-button {
  height: 57px !important;
  border-radius: 15px 0 0 15px !important;
}

.react-international-phone-input-container {
  height: 57px;
  border-radius: 15px !important;
  overflow: hidden;
}

.react-international-phone-input {
  border-radius: 0 15px 15px 0 !important;
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
