@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стили для react-international-phone */
.react-international-phone-country-selector-button {
  height: 57px !important;
  border-radius: 15px 0 0 15px !important;
}

.react-international-phone-input-container {
  height: 57px;
  border-radius: 15px !important;
  overflow: hidden;
}

.react-international-phone-input {
  border-radius: 0 15px 15px 0 !important;
}
